.idea
__pycache__/
.vscode/
micat/dataset/__pycache__/
micat/selectionStrategy/__pycache__/
micat/utils/__pycache__/
experiment/__pycache__/
experiment/datasets/__pycache__/
experiment/datasets/data_utils/__pycache__/
experiments/datasets/1-raw_data/
experiments/datasets/2-preprocessed_data/
experiment/logs/*
experiment/data/*
experiments/tensorboard/
build/
dist/
y/
micat.egg-info/
*.ipynb_checkpoints
experiments/notebook_example/tmp5r7m6idd
experiments/notebook_example/tmp55966wlr
experiments/scripts/results_curves/

