.idea
__pycache__/
liriscat/dataset/__pycache__/
liriscat/selectionStrategy/__pycache__/
liriscat/utils/__pycache__/
experiment/__pycache__/
experiment/datasets/__pycache__/
experiment/datasets/data_utils/__pycache__/
experiments/datasets/1-raw_data/
experiments/datasets/2-preprocessed_data/
experiment/logs/*
build/
dist/
y/
liriscat.egg-info/